{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% set plugin = craft.plugins.getPlugin('tfk_portalen_ldap' , false) %}
{% extends "_layout" %}
{% set title = "News" %}
{% block leftmenu %}
    {% include 'partials/_nav.html' %}
{% endblock %}
{% set arrArticles = "" %}
{% block content %}
<main class="mdl-layout__content mdl-color--grey-100">
	{% set nCustomPageId =  craft.request.getQuery( 'id') %}
	{% set matrixBlock = menu.navigation %}

	{% for block in matrixBlock %}
		
		{% if block.nav_id == nCustomPageId %}
			{% set arrArticles = block.nav_articles %}
		{% endif %}
	{% endfor %}
	<div class="mdl-grid main-content">
		{#{ craft.tfk_portalen_ldap.testPlugin }#}

		{% set bUserIsLoggedIn = craft.tfk_portalen_ldap.getLoginStatus %}

		{% if plugin.isEnabled() and not bUserIsLoggedIn %}
			{% include 'partials/_login.html' %} 

		{% else %}
			<section class="mdl-cell mdl-cell--12-col">
				<div class="mdl-grid">
					{% for entry in arrArticles %}
						{% if not entry.hideArticleFromListView %}
						{% include 'partials/_cards.html' with 
							{ title : entry.title, url : entry.url, desc : entry.article_intro , nThisCol : 4 }
						%}
						{% endif %}
					{% endfor %}
				</div>
			</section>
		{% endif %}	
	</div>
</main>
{% endblock %}
