{% extends "_layout" %}
{% block leftmenu %}
  {% include 'partials/_nav.html' %}
{% endblock %}

{% block content %}

  {#{ craft.tfk_portalen_ldap.testPlugin }#}

  {% set bUserIsLoggedIn = craft.tfk_portalen_ldap.getLoginStatus %}

  {% if not bUserIsLoggedIn %}
    {% include 'partials/_login.html' %} 
  {% else %}

    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="tfk-ribbon background-color__accent"></div>
      <div class="mdl-grid main-content main-content__withRibbon">
        <!-- article section start -->

        <div class="mdl-grid">
          <div class="article-content mdl-color--white mdl-shadow--4dp content mdl-cell mdl-cell--12-col">
  
              {{ entry.article_intro}}
              
              {{ entry.article_description}}

              {% for block in entry.article_blocks %}
                {% if block.type == 'textBlock' %}

                  {% include 'partials/_text.html' with {
                                                          content : block.text, 
                                                        
                                                        } %} 

                {% elseif block.type == 'htmlBlock' %}

                  {% include 'partials/_text.html' with {
                                                          content : block.html, 
                                                        
                                                        } %}                                           
                {% elseif block.type == 'imageBlock' %}
                  {% include 'partials/_image.html' with { 
                                                          image : block.image, 
                                                          alias : block.imagealias,
                                                          imageText : block.imageText
                                                        } %} 

                {% endif %}
              {% endfor %}

               {% set tags = entry.tags %}
              Stikkord: 
              {% if tags | length %}
                {% for tag in tags %}
                    {{tag.title}}
                {% endfor %}
              {% endif %}
            
          </div>
        </div>
    </main>
  {% endif %}
{% endblock %}    