{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}


	
	
{% if currentUser %}
	   <div class="tfk-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="tfk-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Home</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="tfk-drawer mdl-layout__drawer mdl-color--black mdl-color-text--blue-grey-50">
        <header class="tfk-drawer-header">
          <img src="images/user.jpg" class="tfk-avatar">
          <div class="tfk-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div>
        </header>
        <nav class="tfk-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="article.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Article</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">

        <div class="mdl-grid main-content">



          <!-- Badges section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Number badge on icon</h4>
            <!-- Number badge on icon -->
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="♥">account_box</div>
          </section>

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Number badge - Icon badge</h4>
            <!-- Number badge -->
            <span class="mdl-badge" data-badge="4">Inbox</span>
            <!-- Icon badge -->
            <span class="mdl-badge" data-badge="♥">Mood</span>
          </section>

          <!-- Badges section end -->




          <!-- Buttons section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Colored Fab buttons</h4>
            <!-- Colored FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
            <!-- Colored FAB button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
          </section>


          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Raised buttons</h4>
            <!-- Raised button -->
            <button class="mdl-button mdl-js-button mdl-button--raised">
              Button
            </button>
            <!-- Raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Button
            </button>
            <!-- Raised disabled button-->
            <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
              Button
            </button>
          </section>


          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Colored buttons</h4>
            <!-- Colored raised button -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Button
            </button>
            <!-- Accent-colored raised button -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Button
            </button>
            <!-- Accent-colored raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Button
            </button>
          </section>


          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Flat buttons</h4>
            <!-- Flat button -->
            <button class="mdl-button mdl-js-button">
              Button
            </button>
            <!-- Flat button with ripple -->
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Button
            </button>
            <!-- Disabled flat button -->
            <button class="mdl-button mdl-js-button" disabled>
              Button
            </button>
          </section>

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Primary colored flat buttons</h4>
            <!-- Primary-colored flat button -->
            <button class="mdl-button mdl-js-button mdl-button--primary">
              Button
            </button>
            <!-- Accent-colored flat button -->
            <button class="mdl-button mdl-js-button mdl-button--accent">
              Button
            </button>
          </section>

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Icon buttons</h4>
              <!-- Icon button -->
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">mood</i>
              </button>
              <!-- Colored icon button -->
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">mood</i>
              </button>
          </section>

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Mini FAB buttons</h4>
            <!-- Mini FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
              <i class="material-icons">add</i>
            </button>
            <!-- Colored mini FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
          </section>

          <!-- Buttons section end -->



          <!-- Cards section start -->

          <section class="mdl-cell mdl-cell--12-col">
            <h4 class="mdl-cell--12-col">Cards</h4>

            <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <div class="tfk-updates card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Welcome</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris sagittis pellentesque lacus eleifend lacinia...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title padding-large">
                  <h2 class="mdl-card__title-text">Welcome</h2>
                </div>
                <div class="mdl-card__supporting-text padding-large">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris sagittis pellentesque lacus eleifend lacinia...
                </div>
                <div class="mdl-card__actions mdl-card--border padding-large">
                  <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Welcome</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris sagittis pellentesque lacus eleifend lacinia...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            </div>

              <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp card-with-icon">
                <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                </header>
                <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                  <div class="mdl-card__supporting-text padding-large">
                    <h4>Features</h4>
                    Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                  </div>
                  <div class="mdl-card__actions padding-large">
                    <a class="mdl-button" href="#">Read our features</a>
                  </div>
                </div>
                <button id="btn1" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon position--right-top" data-upgraded=",MaterialButton,MaterialRipple">
                  <i class="material-icons">more_vert</i>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                <div class="mdl-menu__container is-upgraded"><div class="mdl-menu__outline mdl-menu--bottom-right"></div><ul for="btn1" class="mdl-menu mdl-js-menu mdl-menu--bottom-right" data-upgraded=",MaterialMenu">
                  <li class="mdl-menu__item" tabindex="-1">Lorem</li>
                  <li disabled="" class="mdl-menu__item" tabindex="-1">Ipsum</li>
                  <li class="mdl-menu__item" tabindex="-1">Dolor</li>
                </ul></div>
            </div>

          </section>

          <!-- Cards section end -->


          <!-- Icon list start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Icon list</h4>

            <div class="mdl-cell--6-col">
              <ul class="mdl-list">
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">person</i>
                  Bryan Cranston
              </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">person</i>
                  Aaron Paul
                </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">person</i>
                  Bob Odenkirk
                </span>
                </li>
              </ul>
            </div>

            <div class="mdl-cell--6-col">
              <ul class="mdl-list">
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">person</i>
                    Bryan Cranston
                  </span>
                  <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                      <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                    </label>
                  </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">person</i>
                    Aaron Paul
                  </span>
                    <span class="mdl-list__item-secondary-action">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
                        <input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1" checked />
                      </label>
                  </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">person</i>
                    Bob Odenkirk
                  </span>
                    <span class="mdl-list__item-secondary-action">
                      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                        <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
                      </label>
                  </span>
                </li>
              </ul>
            </div>
          </section>

          
          <!-- Icon list end -->



          <!-- Progress bar section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Simple MDL Progress Bar</h4>
            <!-- Simple MDL Progress Bar -->
            <div id="p1" class="mdl-progress mdl-js-progress"></div>
            <script>
              document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
                this.MaterialProgress.setProgress(44);
              });
            </script>
          
            <h4 class="mdl-cell--12-col">Progress bar Indeterminate</h4>
            <!-- MDL Progress Bar with Indeterminate Progress -->
            <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

            <h4 class="mdl-cell--12-col">MDL Progress Bar with Buffering</h4>
            <!-- MDL Progress Bar with Buffering -->
            <div id="p3" class="mdl-progress mdl-js-progress"></div>
            <script>
              document.querySelector('#p3').addEventListener('mdl-componentupgraded', function() {
                this.MaterialProgress.setProgress(33);
                this.MaterialProgress.setBuffer(87);
              });
            </script>

            <h4 class="mdl-cell--12-col">Spinner</h4>
            <div class="mdl-cell--6-col">
              <!-- MDL Spinner Component -->
              <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>
            <div class="mdl-cell--6-col">
              <!-- MDL Spinner Component with Single Color -->
              <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            </div>
          </section>

          <!-- Progress bar section end -->



          <!-- Sliders section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Sliders</h4>

            <div class="mdl-cell--6-col">
              <!-- Default Slider -->
              <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0" tabindex="0">
            </div>

            <div class="mdl-cell--6-col">
              <!-- Slider with Starting Value -->
              <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="25" tabindex="0">
            </div>
          </section>

          <!-- Sliders section end -->



          <!-- Toggles section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Toggles</h4>

            <div class="mdl-cell--6-col">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                <span class="mdl-checkbox__label">Checkbox</span>
              </label>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Checkbox</span>
              </label>
            </div>

            <div class="mdl-cell--6-col">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                <span class="mdl-radio__label">First</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                <span class="mdl-radio__label">Second</span>
              </label>
            </div>
          </section>

          <!-- Toggles section end -->



          <!-- Tables section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Tables</h4>

            <div class="mdl-cell--6-col">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                    <td>25</td>
                    <td>$2.90</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                    <td>50</td>
                    <td>$1.25</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                    <td>10</td>
                    <td>$2.35</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

          <!-- Tables section end -->



          <!-- Text fields section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Text fields</h4>

            <div class="mdl-cell--6-col">
              <!-- Simple Textfield -->
              <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="sample1">
                  <label class="mdl-textfield__label" for="sample1">Text...</label>
                </div>
              </form>
            </div>
            <div class="mdl-cell--6-col">
              <!-- Numeric Textfield -->
              <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                  <label class="mdl-textfield__label" for="sample2">Number...</label>
                  <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
              </form>
            </div>
          </section>

          <!-- Text fields section end -->


          <!-- Textfield with Floating Label section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Textfield with Floating Label</h4>

            <div class="mdl-cell--6-col">
              <!-- Textfield with Floating Label -->
              <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="sample3">
                  <label class="mdl-textfield__label" for="sample3">Text...</label>
                </div>
              </form>
            </div>
            <div class="mdl-cell--6-col">
              <!-- Numeric Textfield with Floating Label -->
              <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                  <label class="mdl-textfield__label" for="sample4">Number...</label>
                  <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
              </form>
            </div>
          </section>

          <!-- Textfield with Floating Label section end -->


          <!-- Tooltip section start -->

          <section class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="mdl-cell--12-col">Tooltip</h4>

            <div class="mdl-cell--6-col">
              <!-- Simple Tooltip -->
              <div id="tt1" class="icon material-icons">add</div>
              <div class="mdl-tooltip" for="tt1">
                Follow
              </div>
            </div>
            <div class="mdl-cell--6-col">
              <!-- Large Tooltip -->
              <div id="tt2" class="icon material-icons">print</div>
              <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
              Print
              </div>
            </div>
          </section>

          <!-- Tooltip section end -->


          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp card-with-icon">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text padding-large">
                <h4>Technology</h4>
                Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
              </div>
              <div class="mdl-card__actions padding-large">
                <a class="mdl-button" href="#">Read our features</a>
              </div>
            </div>
            <button id="btn3" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon position--right-top" data-upgraded=",MaterialButton,MaterialRipple">
              <i class="material-icons">more_vert</i>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(13px, 16px);"></span></span></button>
            <div class="mdl-menu__container is-upgraded" style="right: 8px; top: 40px; width: 124px; height: 160px;"><div class="mdl-menu__outline mdl-menu--bottom-right" style="width: 124px; height: 160px;"></div><ul for="btn3" class="mdl-menu mdl-js-menu mdl-menu--bottom-right" data-upgraded=",MaterialMenu" style="clip: rect(0px, 124px, 0px, 124px);">
              <li class="mdl-menu__item" tabindex="-1" style="">Lorem</li>
              <li disabled="" class="mdl-menu__item" tabindex="-1" style="">Ipsum</li>
              <li class="mdl-menu__item" tabindex="-1" style="">Dolor</li>
            </ul></div>
          </section>


        </div>



        <!-- Footer start -->
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer__middle-section">

            <div class="mdl-mega-footer__drop-down-section">
              <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer__heading">Features</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Updates</a></li>
              </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
              <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer__heading">Details</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="#">Specs</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Resources</a></li>
              </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
              <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer__heading">Technology</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Patterns</a></li>
                <li><a href="#">Usage</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contracts</a></li>
              </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
              <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer__heading">FAQ</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="#">Questions</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>

          </div>

          <div class="mdl-mega-footer__bottom-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mega-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>

        </footer>
        <!-- Footer end -->




      </main>
    </div>
    {% endif %}
{% endblock %}
